alpaca-trade-api
alpha_vantage==2.3.1
IPython
fredapi
ibapi
ipywidgets
keras
matplotlib
numba
numpy
openai
pandas
pandas-datareader
plotly
quandl
python-dotenv
scikeras
scikit-learn
scipy
seaborn
statsmodels
streamlit
tensorflow
torch
requests
wordcloud
yfinance
websockets>=14.0
